<footer>
<div style="background: black ; width : 100% ; padding: 20px 20px ; color : white ; font-family:">
<center> © Copyright 2018 | All rights reserved . </center>
    <center> <a target="_blank" href="https://github.com/AbdelkhalekESI">Github Profile</a> </center>
</div>
</footer>
<script>
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade' , 1000)
            ;
        })
    ;
</script>
</body>
</html>