<!DOCTYPE html>
<html>
<head>
        <title> Blog Project </title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
       <link rel="stylesheet" type="text/css" href="/semantic.css">
        <link rel="stylesheet" type="text/css" href="/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/components/icon.css">
    <link rel="stylesheet" type="text/css" href="/components/form.css">
    <link rel="stylesheet" type="text/css" href="/components/item.css">
    <link rel="stylesheet" type="text/css" href="/app.css">

        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/semantic.js"></script>
<script src="/semantic.min.js"></script>

</head>
<body>

  <div class="ui fixed inverted menu" >
    <div class="ui container">
      <div class="header item"><i class="code icon"></i>Blog Site</div>
      <a href="/blogs" class="item">Home</a>
      <a href="/blogs/new" class="item">New Post</a>
        <div class="right menu">
           <% if (!currentUser ) { %>
        <a href="/blogs/login" class="item" id="login">Login</a>
        <a href="/blogs/register" class="item" id="register">Register</a>
            <%} else { %>
            <a href="#" class="item" id="UserName"> Signed as <%= currentUser.username %> </a>
            <a href="/blogs/logout" class="item" id="logout" >LogOut</a>
            <%} %>

        </div>
    </div>

  </div>