<!DOCTYPE html>
<html>
<head>
    <title> BlogApp </title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <link rel="shortcut icon" type="image/x-icon" href="/blogg.png">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js

"></script>

</head>
<body>

<div class="ui fixed inverted menu" >
    <div class="ui container">
        <a href="/"> <div class="header item active"><i class="fab fa-blogger" style="font-size: 30px ; margin-right: 10px ; "></i>BlogApp</div></a>
        <a href="/blogs" class="item">Home</a>
        <% if ( currentUser ) { %>
        <a href="/blogs/new" class="item">New Article</a>
        <%} %>
        <div class="right menu">
            <% if (!currentUser ) { %>
            <a href="/blogs/login" class="item" id="login">LogIn</a>
            <a href="/blogs/register" class="item" id="register">Sign-Up</a>
            <%} else { %>
            <a href="#" class="item  ui " id="UserName"> Signed as <%= currentUser.username %> </a>
            <a href="/blogs/logout" class="ui item " id="logout" >LogOut</a>
            <%} %>

        </div>
    </div>

</div>

<div class="container">
    <% if ( !(success.length == 0) ) { %>
    <div class="ui message success transition ">
        <i class="close icon"></i>
        <div class="header">

        </div>
        <p>
            <%= success %>
        </p>
    </div>
    <% } %>
    <% if ( !(error.length == 0) ) { %>
    <div class="ui message error transition ">
        <i class="close icon"></i>
        <div class="header">
            Oops !! There is a problem !
        </div>
        <p>  <%= error %>
        </p>
    </div>
    <% } %>
</div>



<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content" id="home">
                <h1>BlogApp</h1>
                <h3>A Plateforme to read the latest articles and create new blogs </h3>
                <hr>
                <br>
                <br>
                <a href="/blogs/register">
                <div class="ui animated green fade button" tabindex="0">
                    <div class="visible content">Get Started and Create your first blog now !</div>
                    <div class="hidden content">
                       Sign-Up Now <i class="fas fa-arrow-right" style="margin-left : 5px ; "></i>


                    </div>
                </div>
                </a>

            </div>
        </div>
    </div>
</div>

<script src="/scripts/background.js"></script>
<% include ../partials/footer %>