<h1>BlogApp </h1>

<p> Thanks for signing up with BlogApp ! </p>


<p> Have fun, and don't hesitate to contact us with your feedback. </p>

<p>The BlogApp Team </p>


<a href="https://github.com/AbdelkhalekESI" target="_blank" > Github Profile </a>
