<!DOCTYPE html>
<html>
<head>
    <title> BlogApp </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121911619-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121911619-1');
</script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/blogg.png">


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js

"></script>

</head>
<body>

<div class="ui fixed inverted menu" >
    <div class="ui container">
        <a href="/"> <div class="header item"><i class="fab fa-blogger" style="font-size: 30px ; margin-right: 10px ; "></i>BlogApp</div></a>
        <a href="/blogs" class="item">Home</a>
        <% if ( currentUser ) { %>
        <a href="/blogs/new" class="item active">New Article</a>
        <%} %>
        <div class="right menu">
            <% if (!currentUser ) { %>
            <a href="/blogs/login" class="item active" id="login">LogIn</a>
            <a href="/blogs/register" class="item" id="register">Sign-Up</a>
            <%} else { %>
            <a href="#" class="item  ui " id="UserName"> Signed as <%= currentUser.username %> </a>
            <a href="/blogs/logout" class="ui item " id="logout" >LogOut</a>
            <%} %>

        </div>
    </div>

</div>

<div class="container">
    <% if ( !(success.length == 0) ) { %>
    <div class="ui message success transition ">
        <i class="close icon"></i>
        <div class="header">

        </div>
        <p>
            <%= success %>
        </p>
    </div>
    <% } %>
    <% if ( !(error.length == 0) ) { %>
    <div class="ui message error transition ">
        <i class="close icon"></i>
        <div class="header">
            Oops !! There is a problem !
        </div>
        <p>  <%= error %>
        </p>
    </div>
    <% } %>
</div>



<div class="ui main text container segment">
    <div class="ui huge header ">
        New Blog
    </div>


    <form action="/new" method="post" class="ui form">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Put your blog title">
        </div>
        <div class="field">
            <label>Image URL</label>
            <input type="text" name="blog[image]" placeholder="Put the URL of your blog image">
        </div>
        <div class="ui form">
            <div class="field">
                <label>Blog Post</label>
                <textarea name="blog[body]" placeholder="Write your blog here ( you can include any HTML Tag ) "></textarea>
            </div>
            <button class="ui black button" type="sumbit">Submit</button>
    </form>

    <!-- <form ref='uploadForm'
      id='uploadForm'
      action='/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> -->
</div>
</div>

<% include ../partials/footer %>
